# Entornos virtuales
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno secretas (no subir a repositorios públicos)
# .env

# Archivos temporales de backups
backups/*.tmp.sql

# Logs del sistema
*.log
